.login{
    max-width:500px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
  

}

.emailicon{
    position: absolute;
    padding: 10px;
    min-width: 40px;
}
.passwordicon{
    position: absolute;
    padding: 10px;
    min-width: 40px;
    
}
.input
{
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    
   
}
.buttons{
padding: 10px;
align-items: center;
font-weight: 700;
border-radius: 20px;
margin-right: 1rem;
background-color: navy;
width: 100%;
}
.imagecontainer{
    background-image: url('../images/cover5.jpg');
    background-size: cover;
  background-attachment: fixed;

    height: 400px;
}